.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-primary{
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #469165;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
}
.btn-secondery{
  display: flex;
  align-items: center;
  gap: 5px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.btn-primary:hover {
  background-color:aquamarine; 
  transform: translateY(-2px); 
}
.btn-secondery:hover{
  background-color:yellowgreen; 
  transform: translateY(-2px); 
}
.nav-bar img{
    width: 100%;
    height: 80px;
}
.nav-bar ul{
    display: flex;
    gap: 20px;
}
.nav-bar ul a{
    text-decoration: none;
    color: black;
}
.nav-bar li{
    list-style: none;
}

/* banner */
.banner {
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;       
}

.btn-open{
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  border-radius: 15px;
  color: #469165;
  padding: 6px 14px;
}
.btn-open:hover{
  background-color:cyan;
}
.btn-open img {
  width: 14px; 
  height: 14px;
  display: block; 
}

.banner-info {
  text-align: center;
  max-width: 700px;
}
.banner-heading{
   font-size: 60px;
   font-weight: bold;
    color: white;
}

.btn-div {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

/* note section */
.note-container{
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.note-card{
  display: flex;
  gap: 10px;

}
 .card {
  width: 260px;
  padding: 20px;
  border-radius: 10px;
  color: black;
  text-align: center;
  border: 1px solid rgb(189, 186, 186);
}

.card img {
  width: 40px;
  margin-bottom: 8px;
  background-color: #F95555;
  border-radius: 100%;
}
.card h5{
  color:#001931 ;
  font-size: 24px;
  font-weight:600;
  margin: 6px 0;
}

.card p{
  color: #627382;
  font-size: 16px;
  margin: 4px 0 0; 
}
.note-heading{
  margin-bottom: 10px;
}



/* brain section */
.brain-section{
  max-width: 1140px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}
.brain-section img{
  width: 500px;
  height: 500px;
}
.brain-p{
  font-size: 15px;
  color: #469165;
  margin-bottom: 4px;
}
.brain-heading{
  font-size: 45px;
  font-weight: bold;
  color: #001931;
   margin-top: 0; 
   margin-bottom: 12px;
}
.brain-description{
  font-size: 15px;
  color: #627382;
}
.brain-option{
  font-size: 16px;
  font-weight: 500;
}
.brain-option p {
  display: flex;
  align-items: center; 
  gap: 10px; 
  font-size: 16px; 
  margin-bottom: 12px; 
}

.brain-option img {
  width: 20px; 
  height: 20px;
}
/* early-access */
.early-access{
  max-width: 1140px;
  margin: 100px auto;
  text-align: center;
  background-color: #F7F6F2;
  padding: 20px;
}
.early-access-h3{
  font-size: 16px;
  font-weight: bold;
}
.early-acces-p{
   font-size: 15px;
  color: #627382;
}
.early-acces-btn{
   display: inline-flex;;
  align-items: center;
  gap: 5px;
  background-color: #469165;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
}
.early-acces-btn:hover{
background-color:aquamarine; 
  transform: translateY(-2px);
}

/* footer */
.footer{
  background-color: #001931;
  padding: 60px 0 20px;
}
.footer-container{
  color: white;
  margin: 0 auto 30px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-p{
  font-size: 20px;
  font-weight: 500;
}
.footer-paragraph::before {
  content: "";
  display: block;
  width: 80%; 
  height: 1px;          
  background-color: #ffffff33; 
  margin: 0 auto 10px;  
}
.footer-paragraph{
  color: white;
  text-align: center;
}
